/*
 * -------------------------------------------------
 *  nf-core/imcyto Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 14.GB * task.attempt, 'memory' ) }
    time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withLabel:process_medium {
    cpus = { check_max( 6 * task.attempt, 'cpus' ) }
    memory = { check_max( 42.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel:process_high {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }
  withLabel:process_long {
    time = { check_max( 20.h * task.attempt, 'time' ) }
  }

  withName:IMCTOOLS {
    container = 'quay.io/biocontainers/imctools:1.0.5--py_0'
  }
  withName:PREPROCESS_FULL_STACK {
    container = 'cellprofiler/cellprofiler:3.1.9'
  }
  withName:PREPROCESS_ILASTIK_STACK {
    container = 'cellprofiler/cellprofiler:3.1.9'
  }
  withName:ILASTIK {
    container = 'ilastik/ilastik-from-binary:1.3.3b1'
  }
  withName:SEGMENTATION {
    container = 'cellprofiler/cellprofiler:3.1.9'
  }
  withName:output_documentation {
    container = 'quay.io/biocontainers/r-rmarkdown:0.9.5--r3.3.2_0'
  }
  withName:get_software_versions {
    container = 'cellprofiler/cellprofiler:3.1.9'
  }

}
