/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/imcyto -profile test,<docker/singularity>
 */

params {

  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h

  // Test input data in *.mcd format
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/inputs/20191121_BRAC3438.6f.mcd'
  metadata = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/inputs/metadata.csv'

  full_stack_cppipe = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/plugins/full_stack_preprocessing.cppipe'
  ilastik_stack_cppipe = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/plugins/ilastik_stack_preprocessing.cppipe'
  segmentation_cppipe = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/plugins/segmentation.cppipe'
  ilastik_training_ilp = 'https://raw.githubusercontent.com/nf-core/test-datasets/imcyto/plugins/ilastik_training_params.ilp'

}
